.header-container {
    position: absolute;
    width: 100%;
    z-index: 10;
}
.navbar {
    background-color: #000000bf;
}
.navbar-transparent {
    background-color: black;
    opacity: .5;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.navbar-brand{
    color: white;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
}
.navbar-brand:hover{
    color: white;
    text-decoration: underline;
    filter: drop-shadow(0px 15px 6px white);
}
.tab-name{
    color: white;
    padding: 0px 10px 0px 10px;
    float: right;
}
.tab-name:hover {
    color: white;
    text-decoration: underline;
    filter: drop-shadow(0px 15px 6px white);
}
.nav-contents{
    list-style-type: none;
    color: white;
    display: -webkit-inline-box;
    margin: 0 0 0 0;
    padding: 0;
    width: fit-content;
    float: right;
}
.right-tabs {
    float: inline-end;
}